.main-text {
    padding: 2px !important;
}

.input-text {
    white-space: nowrap !important;
    min-width: 50px !important;
    padding: 2px !important;
}

.number-input ion-input {
    max-width: 10px !important;
    padding: 2px !important;
}